[paths]
source =
   src/survey_stats
   */site-packages/survey_stats

[run]
branch = true
source =
    survey_stats
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
