alembic==0.8.8
altgraph==0.12
ansible==2.1.1.0
arrow==0.8.0
awscli==1.11.8
Babel==2.3.4
backports-abc==0.4
binaryornot==0.4.0
botocore==1.4.65
bx-python==0.5.0.1
caravel==0.10.0
certifi==2016.8.31
cffi==1.8.3
chardet==2.3.0
click==6.6
colorama==0.3.7
cookiecutter==1.4.0
cryptography==1.5
Cython==0.25.1
docutils==0.12
drax==0.4.0
enum34==1.1.6
ez-setup==0.9
Flask==0.11.1
Flask-API==0.6.7
Flask-AppBuilder==1.8.1
Flask-Babel==0.11.1
Flask-Cache==0.13.1
Flask-Login==0.2.11
Flask-Migrate==1.5.1
Flask-OpenID==1.2.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
Flask-Testing==0.5.0
Flask-WTF==0.12
future==0.16.0
futures==3.0.5
gevent==1.1.2
greenlet==0.4.10
gunicorn==19.6.0
humanize==0.5.1
idna==2.1
ipaddress==1.0.17
itsdangerous==0.24
Jinja2==2.8
jinja2-time==0.2.0
jmespath==0.9.0
jsonlines==1.1.0
macholib==1.7
Mako==1.0.4
Markdown==2.6.6
MarkupSafe==0.23
mercurial==3.9
modulegraph==0.12.1
mysql==0.0.1
MySQL-python==1.2.5
numpy==1.11.1
nvpy==1.0.0b2
pandas==0.18.1
paramiko==2.0.2
parsedatetime==2.0
pbr==1.10.0
pluggy==0.4.0
poyo==0.4.0
py==1.4.31
py2app==0.10
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pydruid==0.3.0
pyobjc-core==3.1.1
pyobjc-framework-Accounts==3.1.1
pyobjc-framework-AddressBook==3.1.1
pyobjc-framework-AppleScriptKit==3.1.1
pyobjc-framework-AppleScriptObjC==3.1.1
pyobjc-framework-ApplicationServices==3.1.1
pyobjc-framework-Automator==3.1.1
pyobjc-framework-AVFoundation==3.1.1
pyobjc-framework-AVKit==3.1.1
pyobjc-framework-CalendarStore==3.1.1
pyobjc-framework-CFNetwork==3.1.1
pyobjc-framework-CloudKit==3.1.1
pyobjc-framework-Cocoa==3.1.1
pyobjc-framework-Collaboration==3.1.1
pyobjc-framework-Contacts==3.1.1
pyobjc-framework-ContactsUI==3.1.1
pyobjc-framework-CoreBluetooth==3.1.1
pyobjc-framework-CoreData==3.1.1
pyobjc-framework-CoreLocation==3.1.1
pyobjc-framework-CoreText==3.1.1
pyobjc-framework-CoreWLAN==3.1.1
pyobjc-framework-CryptoTokenKit==3.1.1
pyobjc-framework-DictionaryServices==3.1.1
pyobjc-framework-DiskArbitration==3.1.1
pyobjc-framework-EventKit==3.1.1
pyobjc-framework-ExceptionHandling==3.1.1
pyobjc-framework-FinderSync==3.1.1
pyobjc-framework-FSEvents==3.1.1
pyobjc-framework-GameCenter==3.1.1
pyobjc-framework-GameController==3.1.1
pyobjc-framework-ImageCaptureCore==3.1.1
pyobjc-framework-IMServicePlugIn==3.1.1
pyobjc-framework-InputMethodKit==3.1.1
pyobjc-framework-InstallerPlugins==3.1.1
pyobjc-framework-InstantMessage==3.1.1
pyobjc-framework-LatentSemanticMapping==3.1.1
pyobjc-framework-LaunchServices==3.1.1
pyobjc-framework-LocalAuthentication==3.1.1
pyobjc-framework-MapKit==3.1.1
pyobjc-framework-MediaAccessibility==3.1.1
pyobjc-framework-MediaLibrary==3.1.1
pyobjc-framework-MultipeerConnectivity==3.1.1
pyobjc-framework-NetFS==3.1.1
pyobjc-framework-NotificationCenter==3.1.1
pyobjc-framework-OpenDirectory==3.1.1
pyobjc-framework-Photos==3.1.1
pyobjc-framework-PhotosUI==3.1.1
pyobjc-framework-PreferencePanes==3.1.1
pyobjc-framework-PubSub==3.1.1
pyobjc-framework-Quartz==3.1.1
pyobjc-framework-SceneKit==3.1.1
pyobjc-framework-ScreenSaver==3.1.1
pyobjc-framework-SearchKit==3.1.1
pyobjc-framework-ServiceManagement==3.1.1
pyobjc-framework-Social==3.1.1
pyobjc-framework-SpriteKit==3.1.1
pyobjc-framework-StoreKit==3.1.1
pyobjc-framework-SyncServices==3.1.1
pyobjc-framework-SystemConfiguration==3.1.1
pyobjc-framework-WebKit==3.1.1
python-dateutil==2.5.3
python-editor==1.0.1
python-openid==2.2.5
pytz==2016.6.1
PyYAML==3.12
requests==2.10.0
rpy2==2.8.4
rsa==3.4.2
s3transfer==0.1.9
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.0.13
SQLAlchemy-Utils==0.32.7
sqlparse==0.1.19
stevedore==1.17.1
stripe==1.38.0
tornado==4.4.1
tox==2.4.1
vboxapi==1.0
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
Werkzeug==0.11.10
whichcraft==0.4.0
WTForms==2.1
xlrd==1.0.0
